<!DOCTYPE HTML>
<html>
<head><title>Site Coming Soon</title>
    <meta charset=utf-8>
    <meta name=viewport content="width=device-width, initial-scale=1, user-scalable=no">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css">
    <link rel=stylesheet href=/stylesheets/main.css>
</head>
<body>
<header id=header><h1>Coming Soon.</h1>
    <p>New Site Design Coming soon!<br>Until then, check out my latest projects on <a
                href=http://github.com/plus20charisma>Github</a>.</p></header>
<footer id=footer>
    <ul class=icons>
        <li><a href=http://twitter.com/plus20charisma class="icon fa-twitter"><span class=label>Twitter</span></a></li>
        <li><a href=http://github.com//plus20charisma class="icon fa-github"><span class=label>GitHub</span></a></li>
        <li><a href=mailto:lipho@plus20charisma.com class="icon fa-envelope-o"><span class=label>Email</span></a></li>
    </ul>
    <ul class=copyright>
        <li>&copy; +20</li>
        <li>2016</li>
    </ul>
</footer>
<script src=/javascripts/main.js></script>
</body>
</html>